.wrapper
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    %h3.form-signin-heading Welcome to todo_app!
    %hr.colorgraph/
    %br/
    = f.text_field :name,autofocus: true, maxlength: "8" , class: "form-control", placeholder: "nickname(最大8文字)"
    = f.email_field :email, autocomplete: "email",placeholder: "email",class: "form-control"
    = f.password_field  :password,autocomplete: "new-password"  ,:placeholder => "Password", class: "form-control" 
    = f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password(確認)", class: "form-control"
    %button.btn.btn-lg.btn-primary.btn-block{:name => "Submit", :type => "Submit",id: "sign_in_button"} sign_in
  -# .field
  -#   = f.label :name
  -#   %br/
  -#   %em 
  -#     (6 characters maximum)
  -#   = f.text_field :name, maxlength: "6" , class: "form-name-input"
  -# .field
  -#   = f.label :email
  -#   %br/
  -#   = f.email_field :email, autofocus: true, autocomplete: "email"
  -# .field
  -#   = f.label :password
  -#   - if @minimum_password_length
  -#     %em
  -#       (#{@minimum_password_length} characters minimum)
  -#   %br/
  -#   = f.password_field :password, autocomplete: "new-password"
  -# .field
  -#   = f.label :password_confirmation
  -#   %br/
  -#   = f.password_field :password_confirmation, autocomplete: "new-password"
  -# .actions
  -#   = f.submit "Sign up"
= render "devise/shared/links"
