.wrapper
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

    %h3.form-signin-heading Welcome to todo_app!
    %hr.colorgraph/
    %br/
    = render "devise/shared/error_messages", resource: resource
    = f.text_field :name,autofocus: true, maxlength: "8" , class: "form-control", placeholder: "nickname(最大8文字)"
    = f.email_field :email, autocomplete: "email",placeholder: "email",class: "form-control"
    = f.password_field  :password,autocomplete: "new-password"  ,:placeholder => "Password", class: "form-control" 
    = f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password(確認)", class: "form-control"
    %button.btn.btn-lg.btn-primary.btn-block{:name => "Submit", :type => "Submit",id: "sign_in_button"} sign_in
= render "devise/shared/links"
