= render 'shared/header'
- if current_user.groups.present?
  .home-container
    .home-container__all-groups
      %section.home-header
        .home-header__icon
          %span.home-header__icon__user-icon
            = fa_icon "user", class: "icon-user"
        .home-header__header-name
          参加しているグループ
      %section.home-group
        %ul.home-group__lists
          - current_user.groups.each do |group|
            = link_to "/groups/#{group.id}", data: {"turbolinks" => false } do
              %li.home-group__lists__item 
                = group.name
- else
  

    

  






