= render 'shared/header'
.group-wrapper
  = form_for @group, id: "group-form-create"  do |f|
    - if @group.errors.any?
      .group-wrapper__errors
        %h2.group-wrapper__errors__message= "#{@group.errors.full_messages.count}箇所の必須項目が入力されていません。"
    .group-wrapper__container
      .group-wrapper__container__content
        .group-wrapper__container__content__box
          %section.new-group-form
            .new-group-form__box
              .new-group-form__box__field-group
                .new-group-form__box__field-group__field
                  .new-group-form__box__field-group__field__group-name
                    = f.label "新規グループ名(10文字以内)", class: "new-group-form__box__field-group__field__group-name__tag"
                    = f.text_field :name, maxlength: "10" , class: "new-group-text-field", placeholder: "グループ名（必須）"
                  .new-group-form__box__field-group__field__member-list
                    %p.new-group-form__box__field-group__field__member-list__text
                      招待するメンバー
                      .new-group-form__box__field-group__field__member-list__text__user-collection-box
                        = f.collection_check_boxes :user_ids, User.all, :id, :name, include_hidden: false
                   
        .group-wrapper__container__content__button-box
          = f.submit "作成", class: "btn btn-success btn-primary btn-lg btn-block", id: "create-button"

