= render 'shared/header'
.group-wrapper
  = form_for @group do |f|
    .group-wrapper__container
      .group-wrapper__container__content
        .group-wrapper__container__content__box
          %section.new-group-form
            .new-group-form__box
              - if @group.errors.any?
                .new-group-form__box__errors
                  %h2
                    情報が正しくありません
              .new-group-form__box__field-group
                .new-group-form__box__field-group__field
                  .new-group-form__box__field-group__field__group-name
                    = f.label "新規グループ名(10文字以内)", class: "new-group-form__box__field-group__field__group-name__tag"
                    = f.text_field :name, maxlength: "10" , class: "new-group-text-field", placeholder: "グループを作成"
                  .new-group-form__box__field-group__field__member-search
                    = f.label "グループメンバーを追加", class: "new-group-form__box__field-group__field__member-search__tag"
                    %input.new-group-form__box__field-group__field__member-search__text-field{placeholder: "追加するユーザー名", type:  "text"}
                  .new-group-form__box__field-group__field__member-list
                    = f.label "招待するメンバー"
                    = f.collection_check_boxes :user_ids, User.all, :id, :name               
                    - @group.users.each do |mem|
                      -# #new-group-users
                      -#   - if mem == current_user
                      -#     %p.new-group-current-user__name
                      -#       = mem.name
                      -#     %input{class: "",name:  "group[user_ids][]", type:  "hidden", value: current_user.id}
                      -#   - else
                      -#     %input{class: "", name: "group[user_ids[]", type: "hidden", value: mem.id}
                      -#     %p.new-group-current-user__name
                      -#       = mem.name
        .group-wrapper__container__content__button-box
          = f.submit "作成", class: "group-new-button"

