= render 'shared/group-header'
- if @lists.present?
  #Modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Modal", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg{:role => "document"}
      .modal-content
        .modal-header
          %h5#Modal.modal-title モーダルのタイトルが表示されます
          %button.close{"aria-label" => "閉じる", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          モーダルのコンテンツを表示します。このモーダルはサイズを大きくしています。
          またレシポンシブデザインに対応しているので画面を小さくすると、モーダルも自動で縮小されます
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} 閉じる
          %button.btn.btn-primary{:type => "button"} 保存
  .content_main
    = render 'shared/sidebar'
    -# サイドバーで何かする
    .content-main__lists-post
      - if @lists.present?
        %table.table
          -# ここリスト分岐
          - @lists.each do |list|
            %td
              .task-box-wrapper
                .task-box-wrapper__contentent
                  .task-box-wrapper__contentent__task-header
                    .task_title
                      = list.text
                    %ul.task_icons
                      %li
                        %a.task_icons__edit-button
                        = fa_icon 'edit', class: 'edit_title_icon' 
                      %li
                        %a.task_icons__delete-button
                        = fa_icon 'trash', class: 'trash_title_icon'
                  .task-box-wrapper__contentent__cards
                    - if @cards.present?
                      - @cards.each do |card|
                        - if card.list_id == list.id
                          .btn.btn-primary{"data-target" => "#modal1", "data-toggle" => "modal", :type => "button", class: "btn-success", id: "card-pop-up"}
                            .card-detail
                              .card-title
                                %p.card-title__text
                                  = card.title
                              .card-icons  
                                = fa_icon 'arrow-right', class: "card-move-r-icon"
                                = fa_icon 'arrow-left', class: "card-move-l-icon"
                          #modal1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "label1", :role => "dialog", :tabindex => "-1"}
                        - else
                      .card-button-wrapper{data: {id: list.id}}
                        %button.task-box-wrapper__contentent__cards__add-button{data: {id: list.id}}
                          + カードを追加
                        = form_for @card, url: "/groups/#{@group_id}/lists/#{list.id}/cards", class: "new-card-form" do |f|
                          = f.hidden_field  :list_id, value: list.id
                          = f.hidden_field :group_id, value: @group.id
                          .button_text_field
                            = f.text_area :title,{data: {id: list.id},maxlength: "20",class: "card-title-field" }
                          .new-card-buttons
                            = f.submit "カードを追加",{data: {id: list.id}, class: "new-card-buttons__card-new-button"}
                            .new-card-buttons__remove-button{data: {id: list.id} }
                              ×
      
                    - else
                      .card-button-wrapper{data: {id: list.id}}
                        %button.task-box-wrapper__contentent__cards__add-button{data: {id: list.id}}
                          + カードを追加
                        = form_for @card, url: "/groups/#{@group_id}/lists/#{list.id}/cards", class: "new-card-form" do |f|
                          = f.hidden_field  :list_id, value: list.id
                          = f.hidden_field :group_id, value: @group.id
                          .button_text_field
                            = f.text_area :title,{data: {id: list.id},maxlength: "20",class: "card-title-field" }
                          .new-card-buttons
                            = f.submit "カードを追加",{data: {id: list.id}, class: "new-card-buttons__card-new-button"}
                            .new-card-buttons__remove-button{data: {id: list.id} }
                              ×
          = form_for @list, url: "/groups/#{@group_id}/lists" do |f|
            %td
              .task-box-add-wrapper
                .task-box-add-wrapper__content
                  .task-box-add{id: "task-box-add"}
                    .task-box-add__text
                      リストの追加
                    .task-box-add__hidden-post
                      = f.text_field :text, class: "task-box-add__hidden-post__form"
                      = f.hidden_field :group_id, value: @group.id
                    = f.submit "作成する", class: "task-box-add__hidden-post__button"
- else
  .content_main
    = render 'shared/sidebar'
    -# -# サイドバーで何かする
    %table.table
      = form_for @list, url: "/groups/#{@group_id}/lists" do |f|
        %td
          .task-box-add-wrapper
            .task-box-add-wrapper__content
              .task-box-add{id: "task-box-add"}
                .task-box-add__text
                  リストの追加
                .task-box-add__hidden-post
                  = f.text_field :text, class: "task-box-add__hidden-post__form"
                  = f.hidden_field :group_id, value: @group.id
                = f.submit "作成する", class: "task-box-add__hidden-post__button"
.container.text-center
  %button.btn.btn-primary.mt-5{"data-target" => "#post", "data-toggle" => "modal", :type => "button"} つぶやきを投稿する
  #post.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        = form_with model: @group do |f|
          .modal-body
            = f.text_field :body, class: "form-control", placeholder: "投稿内容を入力"
          .modal-footer
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} 閉じる
            = f.submit "投稿する", class: "btn btn-primary"
%button.btn.btn-primary{"data-target" => "#modal1", "data-toggle" => "modal", :type => "button"}
  Launch demo modal
#modal1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "label1", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#label1.modal-title Modal title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        Modal body
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} OK
-# = form_with model: @group do |f|
-#   .modal-body
-#     = f.text_field :name, class: "form-control", placeholder: "リストフォーム" 