= render 'shared/group-header'
            
.content_main
  = render 'shared/sidebar'
  -# サイドバーで何かする
  .content-main__lists-post
  - if @lists.present?
    %table.table
      - @lists.each do |list|
        %td
          .task-box-wrapper
            .task-box-wrapper__contentent
              .task-box-wrapper__contentent__task-header
                .task_title
                  = list.text
                %ul.task_icons
                  %li
                    %a.task_icons__edit-button
                    = fa_icon 'edit', class: 'edit_title_icon' 
                  %li
                    %a.task_icons__delete-button
                    = fa_icon 'trash', class: 'trash_title_icon'

              .task-box-wrapper__contentent__cards
                .card-detail
                  .card-detail__content
                  .card-detail__content__title
                    aaa
                .card-detail
                  .card-detail__content
                    %p.card-detail__content__title
                      aaaaaaaaaeeeeeeeee
                     
                %button.task-box-wrapper__contentent__cards__add-button{data: {id: list.id}}
                  + カードを追加
                = form_for @card, url: "/groups/#{@group_id}/lists/#{@list_id}/cards", class: "new-card-form" do |f|
                  = f.text_area :title,{data: {id: list.id},class: "card-title-field" }
                  .new-card-buttons
                    = f.submit "カードを追加",{data: {id: list.id}, class: "new-card-buttons__card-new-button"}
                    .new-card-buttons__remove-button{data: {id: list.id} }
                      ×
                      -# = fa_icon "remove", class: "new-card-buttons__remove-button"
      = form_for @list, url: "/groups/#{@group_id}/lists" do |f|
        %td
          .task-box-add-wrapper
            .task-box-add-wrapper__content
              %button.btn.btn-primary{"data-target" => "#modal1", "data-toggle" => "modal", :type => "button", class: "btn-success", id: "task-box-add"}
                リストを追加
              #modal1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "label1", :role => "dialog", :tabindex => "-1"}
                .modal-dialog.modal-lg{:role => "document"}
                  .modal-content
                    .modal-header
                      %h5#label1.modal-title 
                        = f.text_field :text 
                        = f.hidden_field :group_id, value: @group_id
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} ×
                    .modal-body
                      Modal body
                    .modal-footer
                      %button.btn.btn-secondary{"data-dismiss" => "modal", type:  "button"} Close
                      %input.btn.btn-primary{type:  "submit", value: "作成"} 
        -# .task-box
        -#   .task-header
        -#     .task_title
        -#       個人アプリ
        -#     %ul.task_icons
        -#       %li.task_header_menu_tag
        -#         %a.aaa 
        -#         = fa_icon 'edit', class: 'edit_title_icon' 
        -#       %li
        -#         %a.edit_button
        -#         = fa_icon 'trash', class: 'trash_title_icon'
        -#   .task
        -#     aaa
        -#   .task
        -#   bbb
  - else
    = form_for @list, url: "/groups/#{@group_id}/lists" do |f|
      %button.btn.btn-primary{"data-target" => "#modal1", "data-toggle" => "modal", :type => "button", class: "btn-success", id: "task-box-add"}
        リストを追加
      #modal1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "label1", :role => "dialog", :tabindex => "-1"}
        .modal-dialog.modal-lg{:role => "document"}
          .modal-content
            .modal-header
              %h5#label1.modal-title 
                = f.text_field :text 
                = f.hidden_field :group_id, value: @group_id
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              Modal body
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
              %input.btn.btn-primary{:type => "submit", value: "Send"} OK




.container.text-center
  %button.btn.btn-primary.mt-5{"data-target" => "#post", "data-toggle" => "modal", :type => "button"} つぶやきを投稿する
  #post.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        = form_with model: @group do |f|
          .modal-body
            = f.text_field :body, class: "form-control", placeholder: "投稿内容を入力"
          .modal-footer
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} 閉じる
            = f.submit "投稿する", class: "btn btn-primary"
%button.btn.btn-primary{"data-target" => "#modal1", "data-toggle" => "modal", :type => "button"}
  Launch demo modal
#modal1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "label1", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#label1.modal-title Modal title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        Modal body
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} OK
-# = form_with model: @group do |f|
-#   .modal-body
-#     = f.text_field :name, class: "form-control", placeholder: "リストフォーム" 
.aaew
  %p.nn
  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa