= render 'shared/group-header'
.modal-overlay
- if @lists.present?
  - @lists.each_with_index do |list, i|
    - @cards.each do |card|
      -# = form_tag("/groups/#{@group.id}/lists/#{list.id}/cards/#{card.id}", method: :PATCH) do
      -#   #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      -#     .modal-dialog{:role => "document"}
      -#       .modal-content{data: {id: card.id}}
      -#         .modal-header
      -#           = text_field_tag :title ,card.title,id: "edit-card-title-field"
      -#           = text_field_tag :discription , card.discription, id: "edit-card-discription-field"
      -#           = submit_tag "追加", id: "edit-card-button"
      -#           %h5#exampleModalLabel.modal-title モーダルのタイトル
      -#           %button.close{"aria-label" => "閉じる", "data-dismiss" => "modal", :type => "button"}
      -#             %span{"aria-hidden" => "true"} ×
      -#         .modal-body
      -#           %p モーダルのコンテンツ文。
      -#         .modal-footer
      -#           %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} 閉じる
      -#           %button.btn.btn-primary{:type => "button"} 変更を保存
  .content_main
    = render 'shared/sidebar'
    -# サイドバーで何かする
    .content-main__lists-post
      %table.table
        -# ここリスト分岐
        - @lists.each do |list|
          %td
            .task-box-wrapper
              .task-box-wrapper__contentent
                .task-box-wrapper__contentent__task-header
                  .task_title
                    = list.text
                  %ul.task_icons
                    %li
                      %a.task_icons__edit-button
                      = fa_icon 'edit', class: 'edit_title_icon' 
                    %li
                      %a.task_icons__delete-button
                      = fa_icon 'trash', class: 'trash_title_icon'
                .task-box-wrapper__contentent__cards
                  - if @cards.present?
                    - @cards.each do |card|
                      - if card.list_id == list.id
                        .card-content
                          .btn.btn-primary{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "card-pop-up", data: {id: card.id}}
                            .card-detail{data: {id: card.list_id}}
                              .card-title
                                %p.card-title__text
                                  = card.title
                              .card-icons
                                = form_tag("/groups/#{@group.id}/lists/#{list.id}/cards/#{card.id}", method: :PATCH,class: "move-card-form",name: "card_move_form" , id: "move-card-form#{card.id}") do
                                  = hidden_field_tag :id,  card.id, class: "card-id__hidden"
                                  = hidden_field_tag :title,  card.title, class: "card-title__hidden"
                                  = hidden_field_tag :discription,  card.discription, class: "card-discription__hidden"
                                  = hidden_field_tag :list_id, "" , class: "card-list_id__hidden"
                                  = button_tag({:data => {id: card.list_id},type: "submit",name: "card", class: "card-icons__next" } ) do
                                    = fa_icon 'arrow-right', class: "card-move-r-icon"
                                  .card-icons__previous
                                    = fa_icon 'arrow-left', class: "card-move-l-icon"
                          .card-content__edit-wrapper
                            .card-content__edit-wrapper__mordal
                              = form_tag("/groups/#{@group.id}/lists/#{list.id}/cards/#{card.id}",name: "edit-card",id: "edit-card-form", class: "edit-card-form",method: :PATCH) do
                                .window-header
                                  .window-header__title
                                    = text_field_tag :title ,card.title,id: "edit-card-title-field"
                                .window-content
                                  .window-content__discripition-title
                                    .window-content__discripition-title__icon
                                      = fa_icon 'indent', id: "icon-title",class: "icon-title"
                                    %h3.window-content__discripition-title__text
                                      説明
                                  .window-content__discription-content
                                    = text_area_tag :discription , card.discription,wrap: "hard", id: "edit-card-discription-field", placeholder: "詳しい説明"
                                = submit_tag "カードの内容を編集", id: "edit-card-button", class: "edit-card-button"
                                %span.card-content__add-box__button--cancel
                                  ×
                                
                      - else
                    .card-content-add{data: {id: list.id}}
                      %button.card-content-add__button{data: {id: list.id}}
                        + カードを追加
                      = form_for @card, url: "/groups/#{@group_id}/lists/#{list.id}/cards",class: "new-card-form" do |f|
                        = f.hidden_field  :list_id, value: list.id
                        = f.hidden_field :group_id, value: @group.id
                        .button_text_field
                          = f.text_area :title,{data: {id: list.id},maxlength: "20",class: "card-title-field" }
                        .new-card-buttons
                          = f.submit "カードを追加",{data: {id: list.id}, class: "new-card-buttons__card-new-button"}
                          .new-card-buttons__remove-button{data: {id: list.id} }
                            ×
                  - else
                    .card-content-add{data: {id: list.id}}
                      %button.card-content-add__button{data: {id: list.id}}
                        + カードを追加
                      = form_for @card, url: "/groups/#{@group_id}/lists/#{list.id}/cards", class: "new-card-form" do |f|
                        = f.hidden_field  :list_id, value: list.id
                        = f.hidden_field :group_id, value: @group.id
                        .button_text_field
                          = f.text_area :title,{data: {id: list.id},maxlength: "20",class: "card-title-field" }
                        .new-card-buttons
                          = f.submit "カードを追加",{data: {id: list.id}, class: "new-card-buttons__card-new-button"}
                          .new-card-buttons__remove-button{data: {id: list.id} }
                            ×
        = form_for @list, url: "/groups/#{@group_id}/lists" do |f|
          %td
            .task-box-add-wrapper
              .task-box-add-wrapper__content
                .task-box-add{id: "task-box-add"}
                  .task-box-add__text
                    リストの追加
                  .task-box-add__hidden-post
                    = f.text_field :text, class: "task-box-add__hidden-post__form"
                    = f.hidden_field :group_id, value: @group.id
                  = f.submit "作成する", class: "task-box-add__hidden-post__button"
- else
  .content_main
    = render 'shared/sidebar'
    -# -# サイドバーで何かする
    %table.table
      = form_for @list, url: "/groups/#{@group_id}/lists" do |f|
        %td
          .task-box-add-wrapper
            .task-box-add-wrapper__content
              .task-box-add{id: "task-box-add"}
                .task-box-add__text
                  リストの追加
                .task-box-add__hidden-post
                  = f.text_field :text, class: "task-box-add__hidden-post__form"
                  = f.hidden_field :group_id, value: @group.id
                = f.submit "作成する", class: "task-box-add__hidden-post__button"

-# = form_with model: @group do |f|
-#   .modal-body
-#     = f.text_field :name, class: "form-control", placeholder: "リストフォーム" 
