-# %h2 Log in
.wrapper
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    %h3.form-signin-heading Welcomeback to todo_app!
    %hr.colorgraph/
    %br/
    = render "devise/shared/error_messages", resource: resource
    = f.email_field :email, autocomplete: "email",placeholder: "email",class: "form-control"
    = f.password_field :password, autocomplete: "current-password",placeholder: "password", class: "form-control" 
    %button.btn.btn-lg.btn-primary.btn-block{:name => "Submit", :type => "Submit",id: "sign_in_button"} log_in
= render "devise/shared/links"
